<% include partials/header %>


<body>
        <h1>Congratulations!</h1>
        <hr>
        <div style="margin-left: 40px">
               <h2> Task added 🚀 </h2> 
        </div>
                
        <div style="padding: 20px">
                <a href="/" class="btn btn-success" class="btn btn-secondary btn-lg" >Regresar</a>

        </div>
</body>
<% include partials/footer%>